*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  min-inline-size: 0;
}

ul,
ol,
li {
  list-style: none;
}

// chrome opera
img {
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    image-rendering: -webkit-optimize-contrast;
  }
}

img {
  // for iOS
  image-rendering: auto;

  width: 100%;
  height: auto;
  display: block;
}

article > * + * {
  margin-top: 2em;
}

address,
strong,
em {
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

//フォームリセット
input,
// button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  //outlineをnoneでデフォルトフォーカス
  // outline: none;
}

// focusを変更
// a:focus,
// button:focus {
//   // outline: none;
//   border: 2px solid rgb(255 105 0 / 1);
//   border-radius: 5px;
// };

// input[type="checkbox"]:focus-visible+span,
// input[type="radio"]:focus-visible+span,
// input[type="text"]:focus-visible,
// textarea:focus-visible,
// input[type="submit"]:focus-visible,
// input[type="reset"]:focus-visible {
//   outline: solid 4px rgb(37 126 143 / 1);
// }

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select {
  color: #000;
}

select::-ms-expand {
  display: none;
}

button {
  touch-action: manipulation;
  border: none;
  background-color: transparent;
}
