@use "global/index"as *;

.nf404 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: $gray01;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100dvh;
  margin-top: 0;
  @include mq(md) {

  }
}

.nf404__text {
  font-size: rem(20);
  color: $black;
  margin-top: rem(24);
  font-family: $baseFont;
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(64);

  }
}

.nf404__text .title {
  font-size: rem(20);
  color: $black;
  margin-top: rem(24);
  font-family: $baseFont;
  font-weight: $bold;
  position: relative;
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(64);

  }
}

.nf404__text .sub1,
.nf404__text .sub2 {
  color: rgba($gray01, 0.2);
  letter-spacing: .02em;
  line-height: 1.0;
  text-transform: capitalize;

  @include mq(md) {
    font-size: rem(128);
    margin-top: rem(-194);

  }
}

.nf404__text .sub2 {
  font-size: rem(48);

  @include mq(md) {
    font-size: rem(128);
    margin-top: rem(20);
  }
}

.nf404__text .sub1 {
  font-size: rem(36);
  @include mq(md) {
    font-size: rem(128);

  }
}

.nf404__btn {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(50);
  }
}
