@use "global/index"as *;

/* ------------------------------
top-mv
------------------------------ */
.top-mv {
  padding-top: rem(40);
  padding-bottom: rem(85);
  margin-top: rem(200);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: 0;
    height: calc(100vh - rem(120));
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.top-mv__inner {
  @include mq(md) {
    display: flex;
  }
}

.top-mv__heading {
  @include mq(md) {
    max-width: 60%;
    width: 100%;
  }
}

.top-mv__headingInner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq(md) {
    display: contents;
  }
}

.top-mv__btns {
  @include mq(md) {
    display: flex;
    margin-top: rem(80);
  }
}

.top-mv__btn + .top-mv__btn {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(30);
  }
}

.top-mv__img {
  width: 100%;
  max-width: rem(400);
  @include mq(md) {
    max-width: 35%;
    margin-left: 5%;
  }
}

.top-mv__img img {
  aspect-ratio: 333/333;
  object-fit: cover;
}


.top-about {
  background-color: $black;
  height: 2000px;
}
