@use "global/index" as *;

.gnav {
  width: 100%;
  height: 0;
  overflow: hidden;

  //click-event
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in 0s;
  @include mq(md){
    display: none;
  }
}

.gnav.js-active {
  height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100dvh;
  z-index: $gnav;
  opacity: 1;
  visibility: visible;
  padding-bottom: rem(20);
  padding-top: rem(120);
  overflow-Y: auto;
}

body.js-fixed {
  height: 100%;
  overflow: hidden;
}

.gnav__logo {
  width: rem(79);
  overflow: hidden;
  position: relative;
  position: fixed;
  top: 0;
  left: rem(26);
  z-index: $gnavLogo;
}

.gnav__logo img {
  aspect-ratio: 79/60;
  object-fit: cover;
}


.gnav__nav {
  display: flex;
  padding: 0 rem(20);
  @media screen and (min-width: 385px)  {
    justify-content: center;
  }
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(20);
  }
  @include mq(lg) {
    margin-left: rem(40);
  }
  @include mq(xxl) {
    margin-left: rem(90);
  }
}

.gnav__nav-item {
  min-width: rem(200);
  @include mq(md) {
    min-width: rem(210);
  }
  @include mq(xl) {
    min-width: rem(240);
  }
}

.gnav__link + .gnav__link {
  margin-top: rem(20);
}

.gnav__link a {
  display: block;
  padding: rem(8);
  color: $white;
  @include f_around(16, $bold, 16, false);
  line-height: 1;
  position: relative;
  text-align: center;
}

.gnav__btns {
  margin-top: rem(60);
  text-align: center;
  @include mq(md) {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 0;
    margin-right: calc(50% - 50vw);
    background-color: $white;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
  }
}

.gnav__btn {
  @include mq(md) {
    display: inline-block;
    margin-left: 0;
  }
}

.gnav__btn + .gnav__btn {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: 0;
    border-left: 1px solid $black;
  }
}

.gnav__btn a {
  width: rem(335);
  @include mq(md) {
    width: 100%;
    min-width: fit-content;
    border-radius: 0;
  }
}

.gnav__btn .btn {
  @include mq(md) {
    border: none;
    padding: rem(20) rem(20);
  }
  @include mq(xl) {
    border: none;
    padding: rem(20) rem(35);
  }
}

.gnav__btn  {
  @include mq(md) {
    border-left: 1px solid $black;
  }
}

.gnav__btn:first-child a {
  @include mq(md) {
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
  }
}
