@use "sass:math";

@function rem($pixels) {
  @return math.div($pixels, 10) * 1rem;
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

@function vw($window_width, $size) {
	@return math.div($size, $window_width) * 100vw;
}
